body {
  background-color: aquamarine;
  text-align: center;
  color: red;
}

table {
  margin: auto;
  margin-top: 40px;
  color: blue;
  border: 1px solid black;
  box-shadow: 6px 6px 10px 0px rgba(13, 1, 1, 0.75);
  -webkit-box-shadow: 6px 6px 10px 0px rgba(13, 1, 1, 0.75);
  -moz-box-shadow: 6px 6px 10px 0px rgba(13, 1, 1, 0.75);
}

th, tr, td {
  text-align: left;
  border: 1px solid black;
}

#for-city {
  margin-top: 40px;
  font-size: 30px;
}